doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css?family=Lato:wght@300;400;700&display=swap", rel="stylesheet")
    link(rel="stylesheet", href="./public/css/style.css")
    <link rel="stylesheet" type="text/css" href="output.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    title Ranked Choice Voting
  body.font-google-fonts
  
    block content
    
      header 
        section.py-24.bg-white(class='md:py-32') 
    .container.px-4.mx-auto
      .max-w-sm.mx-auto
        .mb-6.text-center
          a.inline-block.mb-6(href='#')
            img.h-16(src='flex-ui-assets/logos/flex-circle-green.svg' alt='')
          h3.mb-4.text-2xl.font-bold(class='md:text-3xl') Join our community
          p.text-lg.text-coolGray-500.font-medium Start your journey with our product
        form(action='')
          .mb-6
            label.block.mb-2.text-coolGray-800.font-medium(for='') Name*
            input.appearance-none.block.w-full.p-3.leading-5.text-coolGray-900.border.border-coolGray-200.rounded-lg.shadow-md.placeholder-coolGray-400(class='focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50' type='name' placeholder='Patryk')
          .mb-6
            label.block.mb-2.text-coolGray-800.font-medium(for='') Email*
            input.appearance-none.block.w-full.p-3.leading-5.text-coolGray-900.border.border-coolGray-200.rounded-lg.shadow-md.placeholder-coolGray-400(class='focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50' type='name' placeholder='dev@shuffle.dev')
          .mb-4
            label.block.mb-2.text-coolGray-800.font-medium(for='') Password*
            input.appearance-none.block.w-full.p-3.leading-5.text-coolGray-900.border.border-coolGray-200.rounded-lg.shadow-md.placeholder-coolGray-400(class='focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50' type='password' placeholder='************')
          .flex.flex-wrap.items-center.justify-between.mb-6
            .w-full(class='md:w-1/2')
              label.relative.inline-flex.items-center
                input.form-checkbox.appearance-none(type='checkbox')
          
                span.ml-7.text-xs.text-coolGray-800.font-medium Remember me
            .w-full.mt-1(class='md:w-auto')
              a.inline-block.text-xs.font-medium.text-green-500(class='hover:text-green-600' href='#') Forgot your password?
          a.inline-block.py-3.px-7.mb-4.w-full.text-base.text-green-50.font-medium.text-center.leading-6.bg-green-500.rounded-md.shadow-sm(class='hover:bg-green-600 focus:ring-2 focus:ring-green-500 focus:ring-opacity-50' href='#') Sign Up
          a.inline-flex.items-center.justify-center.py-3.px-7.mb-6.w-full.text-base.text-coolGray-500.font-medium.text-center.leading-6.bg-white.border.border-coolGray-100.rounded-md.shadow-sm(class='hover:border-coolGray-200' href='#')
        
          p.text-center
            span.text-xs.font-medium Already have an account?
            a.inline-block.text-xs.font-medium.text-green-500(class='hover:text-green-600 hover:underline' href='#') Sign In

      
    
        

      
      