<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Ranked Choice Voting</title>
  </head>
  
  <body>
    <!-- Nav Bar -->
    <section class="flex overflow-hidden justify-center">
  <div class="px-8 py-6 xl:py-0 bg-coolGray-900 border-b border-coolGray-100">
    <div class="flex items-center justify-between -m-2">
      <div class="flex flex-wrap items-center w-auto p-2">
        <a class="block max-w-max xl:mr-14"></a>
        <ul class="hidden xl:flex flex-wrap">
          
          <!--Home button-->
          <li class="mr-8 hover:animate-spin">
            <a class="flex flex-wrap items-center py-8 text-base font-medium text-coolGray-500 hover:text-green-500 border-b-2 border-transparent hover:border-green-500" href="http://localhost:3001/">
              <svg xmlns="http://www.w3.org/2000/svg" class="mr-2" fill="none" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
  <path stroke-linecap="round" stroke-linejoin="round" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
</svg><p class="text-black">Home</p>
            </a>
          </li>
          
          <!--Dashboard button-->
          <li class="mr-8 hover:rotate-45">                                                           <!--This v is the Icon color-->                   <!--This  v is the nav bar color-->
          <a class="flex flex-wrap items-center py-8 text-base font-medium text-coolGray-500 hover:text-blue-500 border-b-2 border-transparent hover:border-blue-500" href="http://localhost:3001/dashboard">
            <svg xmlns="http://www.w3.org/2000/svg" class="mr-2" fill="none" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
  <path stroke-linecap="round" stroke-linejoin="round" d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8" />
</svg><p class="text-black">Dashboard</p>
          </a>
          </li>
          
          <!--Polls button-->
          <li class="mr-8 hover:rotate-45">                                                                                                                                   <!--Link under here V-->
            <a class="flex flex-wrap items-center py-8 text-base font-medium text-coolGray-500 hover:text-red-500 border-b-2 border-transparent hover:border-red-500" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" class="mr-2" width="24" height="24" fill="none"viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
  <path stroke-linecap="round" stroke-linejoin="round" d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6" />
</svg><p class="text-black">Polls</p>
            </a>
          </li>
          
          <!--Create a new poll button-->
          <li class="mr-8 hover:rotate-45">                                                                                                                                   <!--Link under here V-->
            <a class="flex flex-wrap items-center py-8 text-base font-medium text-coolGray-500 hover:text-teal-500 border-b-2 border-transparent hover:border-teal-500" href="/dashboard/create-poll">
              <svg xmlns="http://www.w3.org/2000/svg" class="mr-2" width="24" height="24" fill="none" viewBox="0 0 26 26" stroke="currentColor" stroke-width="2">
  <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
</svg><p class="text-black">Create New Poll</p>
            </a>
          </li>
</section>

  <!--Getting started-->
      <nav>
        {{#if loggedIn}}
        <a href="/dashboard">dashboard</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        
        <!--I commented these out becasue they bring up an unstyled log in and sign up button ontop of the other ones-->
        <!--<a class="text-left" href="/login">Login</a>                                                                        
        <a class="text-right" href="/signup">Signup</a>-->
        
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
        
    {{#if loggedIn}}
  <script src="public/javascript/logout.js"></script>
  {{/if}}
</body>
        
    
    <!-- Footer Section -->
    <footer class="flex flex-col max-h-screen justify-between"> <!--flex flex-col h-screen justify-between-->
    <div class="container px-4 pt-16 pb-24 mx-auto">
      <p class="text-center text-l md:text-l font-bold hover:text-Green-500">&copy; 2022 All rights reserved.</p>
    </div>
    </footer>
    </html>