<article
  class="w-full max-w-screen-md mx-auto flex flex-col gap-y-10"
  data-poll-id=""
  id="poll-parent"
>
  <h2 class="text-xl font-bold md:text-3xl">Create a new poll</h2>
  <form id="create-poll">
    <label class="flex flex-col">
      Title:
      <input
        class="border-2 w-full max-w-sm border-green-400 p-2 rounded"
        type="text"
        id="pollTitle"
      />
    </label>
    <p
      id="error"
      class="opacity-0 h-3 transition-opacity ease-in-out duration-300 font-bold text-sm text-red-400"
    ></p>
    <button
      class="bg-green-500 hover:bg-green-600 text-white font-bold p-3 rounded mt-4"
      type="submit"
      id="next-step-btn"
    >Next Step</button>
  </form>
  <div class="w-full h-[1px] bg-green-300"></div>
  <form class="hidden" id="choices">
    <h2 class="font-bold text-xl mb-4">Enter your choices</h2>
    <div
      class="grid grid-cols-[1fr_auto] border-2 border-green-400 rounded overflow-hidden"
    >
      <input
        id="choice-name"
        class="p-3"
        type="text"
        placeholder="Enter choice name"
        required
      />
      <button class="p-3 bg-green-500 text-white" type="submit">Add choice</button>
    </div>
    <p class="text-sm text-gray-600">*3 choices minimum</p>
  </form>
  <button
    id="finish-btn"
    class="w-full hidden p-2 transition-all ease-in-out bg-gray-400 hover:bg-green-400 text-white rounded"
  >Finish creating poll</button>
  <ul class="flex flex-col md:grid grid-cols-2 gap-4" id="choiceList">

  </ul>
</article>
<script src="/javascript/poll.js"></script>