<article class="w-full max-w-screen-md mx-auto flex flex-col gap-y-10">
  <h2 class="text-xl font-bold md:text-3xl">Create a new poll</h2>
  <form id="create-poll">
    <label class="flex flex-col">
      Title:
      <input
        class="border-2 w-full max-w-sm border-green-400 p-2 rounded"
        type="text"
        id="pollTitle"
      />
    </label>
    <p
      id="error"
      class="opacity-0 transition-opacity ease-in-out duration-300 font-bold text-sm text-red-400"
    >error</p>
    <button
      class="bg-green-400 text-white font-bold p-3 rounded mt-4"
      type="submit"
    >Next Step</button>
  </form>
</article>
<script src="/javascript/poll.js"></script>