<section>
  <form class="poll-form">
    <div class="mb-6">
      <label
        class="block mb-2 text-coolGray-800 font-medium"
        for="username-login"
      >Poll Title</label>
      <input
        class="appearance-none block w-full p-3 leading-5 text-coolGray-900 border border-coolGray-200 rounded-lg shadow-md placeholder-coolGray-400 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50"
        id="title-poll"
        type="text"
        placeholder=""
      />
    </div>
    <div class="mb-6">
      <label
        class="block mb-2 text-coolGray-800 font-medium"
        for="email-login"
      >Choices</label>
      <input
        class="appearance-none block w-full p-3 leading-5 text-coolGray-900 border border-coolGray-200 rounded-lg shadow-md placeholder-coolGray-400 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50"
        id="choice-poll"
        type="text"
        placeholder=""
      />
    </div>
  </form>
</section>
<script src="/javascript/poll.js"></script>