<section class="w-full max-w-screen-md mx-auto">
{{#if polls.length}}
  <ul class="flex flex-col gap-y-4">
    {{#each polls as |poll|}}
      <li>{{> poll-info-dashboard poll }}</li>
    {{/each}}
  </ul>
{{else}}
<div class="w-full h-full flex justify-center items-center">
   <p class="p-8 text-center rounded border text-gray-500 border-gray-300">Nothing to see here<br>Try creating a poll!</p>
</div>
{{/if}}
</section>