extends layouts/main.pug

block content 


    section.py-24.bg-white(class='md:py-32')
    .container.px-4.mx-auto.bg-teal-500
        .max-w-sm.mx-auto
        .mb-6.text-center
            a.inline-block.mb-6(href='#')
            img.h-16(src='flex-ui-assets/logos/flex-circle-green.svg' alt='')
            h3.mb-4.text-2xl.font-bold(class='md:text-3xl') Welcome To Words With Friends!
            
            
            
            
            
            
            
            
            
            a.inline-block.py-3.px-7.mb-4.w-full.text-base.text-green-50.font-medium.text-center.leading-6.bg-green-500.rounded-md.shadow-sm(class='hover:bg-green-600 focus:ring-2 focus:ring-green-500 focus:ring-opacity-50' href='/login') Click Here to Get Started!




