



<form class="login-form">
         <div class="mb-6">
          <label class="block mb-2 text-coolGray-800 font-medium" for="username-login">Username</label>
          <input class="appearance-none block w-full p-3 leading-5 text-coolGray-900 border border-coolGray-200 rounded-lg shadow-md placeholder-coolGray-400 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50" id="username-login" type="text" placeholder="">
        </div>
        <div class="mb-6">
          <label class="block mb-2 text-coolGray-800 font-medium" for="email-login">Email</label>
          <input class="appearance-none block w-full p-3 leading-5 text-coolGray-900 border border-coolGray-200 rounded-lg shadow-md placeholder-coolGray-400 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50" id="email-login" type="text" placeholder="">
        </div>
        <div class="mb-4">
          <label class="block mb-2 text-coolGray-800 font-medium" for="email-login">Password</label>
          <input class="appearance-none block w-full p-3 leading-5 text-coolGray-900 border border-coolGray-200 rounded-lg shadow-md placeholder-coolGray-400 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50" id="password-login" type="password" placeholder="************">
        </div>
        <div class="flex flex-wrap items-center justify-between mb-6">
      
          
        </div>
        <button class="inline-block py-3 px-7 mb-6 w-full text-base text-green-50 font-medium text-center leading-6 bg-green-500 hover:bg-green-600 focus:ring-2 focus:ring-green-500 focus:ring-opacity-50 rounded-md shadow-sm" type="submit">Sign In</button>
        <p class="text-center">
          <span class="text-xs font-medium">Don’t have an account?</span>
          <a class="inline-block text-xs font-medium text-green-500 hover:text-green-600 hover:underline" href="/signup">Sign up</a>
        </p>
      </form>
      <script src="/javascript/login.js"></script>
