
header
    nav 
     a(class='form' `accent-magenta-700`) First Name 
     
     a(class='form' `accent-magenta-700`) Last Name
     
     a(class='form' `accent-magenta-700`) Email Adress 
     
     a(class='form' `accent-magenta-700`) Password
