
<form class="signup-form">
         <div class="mb-6">
          <label class="block mb-2 text-coolGray-800 font-medium" for="username-signup">Username</label>
          <input class="appearance-none block w-full p-3 leading-5 text-coolGray-900 border border-coolGray-200 rounded-lg shadow-md placeholder-coolGray-400 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50" id="username-signup" type="text" placeholder="">
        </div>
        <div class="mb-6">
          <label class="block mb-2 text-coolGray-800 font-medium" for="email-signup">Email</label>
          <input class="appearance-none block w-full p-3 leading-5 text-coolGray-900 border border-coolGray-200 rounded-lg shadow-md placeholder-coolGray-400 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50" id="email-signup" type="text" placeholder="">
        </div>
        <div class="mb-4">
          <label class="block mb-2 text-coolGray-800 font-medium" for="email-signup">Password</label>
          <input class="appearance-none block w-full p-3 leading-5 text-coolGray-900 border border-coolGray-200 rounded-lg shadow-md placeholder-coolGray-400 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50" id="password-signup" type="password" placeholder="min 8 characters">
        </div>
        <div class="flex flex-wrap items-center justify-between mb-6">
      
          
        </div>
        <button class="inline-block py-3 px-7 mb-6 w-full text-base text-green-50 font-medium text-center leading-6 bg-green-500 hover:bg-green-600 focus:ring-2 focus:ring-green-500 focus:ring-opacity-50 rounded-md shadow-sm" type="submit">Sign Up!</button>
     
      </form>
      <script src="/javascript/signup.js"></script>